.r-head {
    margin-bottom: 2rem;
}

.r-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: 16rem;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    transition: all 300ms ease-in;
}

.r-card>img {
    width: 100%;
    max-width: 15rem;
    border-radius: 8px;
}

.r-price {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.name {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

.detail {
    font-size: 0.85rem;
    color: #666;
    width: 100%;
    margin-bottom: 0.2rem;
}

.r-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    scale: 1.025;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 160, 255, 0.46) 217.91%);
}

.swiper-horizontal {
    overflow: visible;
}

.r-container {
    overflow: hidden;
    position: relative;
}

.slider-buttons {
    position: absolute;
    top: -4rem;
    right: 0;
    gap: 0.5rem;
}

.slider-buttons button {
    font-size: 1.2rem;
    background: white;
    border: none;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
    transition: all 300ms ease-in-out;
}

.slider-buttons button:hover {
    background: rgb(44, 44, 172);
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.slider-buttons>:nth-child(1) {
    background-color: #EEEEFF;
}

.slider-buttons>:nth-child(2) {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
/* @media (max-width: 640px) {
    .r-head{
        align-items: center;
    }    
    .slider-buttons{
        position: initial;
    }
} */